.content {
    padding-top: 6.25rem;
    margin: auto;
    width: 18.25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.operator-content {
    width: 18.75rem;

}
.num-content {
    width: 18.75rem;

}